{% extends 'base/base.html' %}

{% block title %}
Add Product
{% endblock %}

{% block content %}

<section class="product-section">
    <div class="product-card">
        <h3 class="product-title">Enter Product Details</h3>

        <form method="post" enctype="multipart/form-data" class="product-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="addproductbutton">
                ➕ Add Product
            </button>
        </form>
    </div>
</section>


{% endblock %}