{% extends 'base/base.html' %}

{% block title %}
Product Details
{% endblock %}

{% block content %}
<section class="d-flex row  detail">
    <div class="col">
        <div id="carouselExample" class="carousel slide col" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in product.images.all %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">

                    <div class="carousel-buttons product-image-actions">
                        <a href="{% url 'edit_prod_image' image.pk %}" class="btn btn-warning ">
                            Edit
                        </a>
                        <a href="{% url 'del_prod_image' image.pk %}" class="btn btn-danger ">
                                Delete
                            </a>
                    </div>

                    <img src="{{image.img.url}}" alt="" class="w-100 object-fit-cover">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col productdetails">
        <img src="{{product.thumbnail.url}}" class="w-75 h-50" alt="">
        <h2>{{product.title}}</h2>
        <p>{{product.desc}}</p>
        <p>{{product.price}}</p>
        <a href="" class="btn btn-success">Add to Cart</a>
        <div class="d-flex flex-row mt-3 mb-5">
            <a href="{% url 'edit_product' product.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</section>

<section class="Uploadbutton m-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
</section>
{% endblock %}