{% extends 'base/base.html' %}

{% block title %}
Edit Product
{% endblock %}

{% block content %}
<!-- <section>
    <div >
        <h3>Edit the product Details</h3>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div >
                <button type="submit" class="upadateButton">Update</button>
                <a href="{% url 'product_details' product.pk %}" class="Cancelbutton" >Cancel</a>
            </div>
        </form>
    </div>
</section> -->

<section class="edit-section">
    <div class="edit-product-box">
        <h3 class="edit-title">Edit the Product Details</h3>

        <form method="post" class="edit-form">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit" class="updateButton">Update</button>
                <a href="{% url 'product_details' product.pk %}" class="cancelButton">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</section>

{% endblock %}