* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


main {
    .sec {
        display: flex;
        justify-content: center;
        align-items: center;

        .productadd {
            background-color: black;
            color: white;
        }
    }

    .productdetails {
        .carousel-inner {
            img {
                height: 700px;
                border-radius: 20px;

            }
        }

    }

    .carousel-buttons {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        display: flex;
        justify-content: space-between;
        z-index: 10;
    }

}