<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <img src="{{product.thumbnail.url}}" class="card-img-top" alt="Products">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <h2 class="amount text-success">₹ {{product.price}}</h2>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div>



 <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <img src="{{product.thumbnail.url}}" class="card-img-top" alt="Product">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <p class="card-price text-success">&#8377; {{product.price}}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div> -->